body{
  padding: 0;
  box-sizing: border-box;
  background-color: #038C8C;
}
#header{
  display: block;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 8vh;
  color: white;
  text-shadow: 0.5px 0.5px 15px #0000008c;
}
#header header h1{
  margin: 0;
}
.weightbox{
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: 100px 10vw;
 /** position: absolute;*/
  justify-content: center;
  color: white;
  font-size: 18pt;
}
.weightbox label{
  display: flex;
  flex-direction: row;
  align-items: center;  
}
.weightbox input{
  background:#37403E;
  height: 6vh;
  border-radius: 15pt;
  outline: 0;
  border-style: none;
}
.gender{
  display: flex;
  flex-direction: row; 
}
.genderlbl{
  padding-left:3vw;
  font-size: 12pt;
  color: white;
  text-shadow: 1px 1px #945c07b6;
}
.box-txt{
  color:white;
  padding-left: 1vw;
  float: left;
}
.btn{
  background: #37403E;
  color:  #ffffff42;
  margin-top: 8vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15pt;
  border-style: none;
  height: 6vh;
  width: 10vw;
  transition: background .5s;
}



