#header{
    display: block;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 8vh;
    color: #F29D1D;
}
#box{
    display: block;
    text-align: center;
    margin-top: 20vh;
    color: #F29D1D;
}